.PinAndFlights {
    display: flex;
    width: "100%";
}

.LeftAndRight {
    width: 50%;
    margin: 0% 10%;
}

.InLat {
    display: block;
    width: 100%;
    padding: 10px;
}

.InLong {
    display: block;
    width: 100%;
    padding: 10px;
}

.SearchButton {
    display: block;
    width: 20%;
    height: 15%;
    margin: 5% 40%;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #4CAF50;
    color: #4CAF50;
}

.SearchButton:hover {
    display: block;
    width: 20%;
    height: 15%;
    margin: 5% 40%;
    border-radius: 4px;
    background-color: #4CAF50; /* Green */
    border: 2px solid #4CAF50;
    color: white;
}

.textSelectFlights {
    margin: 5%;
    text-align: center;
}

.Flights {
    margin-right: 20%;
}

.LoadDataButton {
    display: block;
    width: 40%;
    height: 15%;
    margin: 5% 30%;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #008CBA;
    color: #008CBA;
}

.LoadDataButton:hover {
    display: block;
    width: 40%;
    height: 15%;
    margin: 5% 30%;
    border-radius: 4px;
    background-color: #008CBA; /* Blue */
    border: 2px solid #008CBA;
    color: white;
    
}

.Flight1 {
    /* height: 12rem; */
    /* height: 100%; */
    width: 16rem;
    overflow-y: scroll;
    /* margin-top: 5%; */
    margin-left: 34%;
    /* margin-right: 20%; */
}
.Flight2 {
    height: 12rem;
    width: 16rem;
    overflow-y: scroll;
    /* margin-top: 5%; */
    /* margin-left: 34%; */
    margin: 0% 30%;
    /* background-color: red; */
    /* margin-right: 20%; */
    align-items: 'center',
}

.Flight1::-webkit-scrollbar {
    display: none;
  }