.SelectDate {
    padding-top: 0.5%;
}

.LikeToInsertData {
    /* display: block; */
    width: 10rem;
    height: 2rem;
    border-radius: 4px;
    background-color: #DD899D; /* Red */
    border: 2px solid #DD899D;
    color: white;
}

.LikeToInsertData:hover {
    width: 10rem;
    height: 2rem;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #DD899D;
    color: #DD899D;
}

.NavSearchButton {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: #4CAF50; /* Green */
    border: 2px solid #4CAF50;
    color: white;
}

.NavSearchButton:hover {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #4CAF50;
    color: #4CAF50;
}